<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive='active'>Show Booking</a>
          <ul class="navbar-nav mr-auto" >
            <ng-container *ngIf="accountService.currentUser | async"> 
              <li *appHasRole = '["Admin", "Moderator"]' class="nav-item">
                <a class="nav-link" routerLink="/booking-calendar" routerLinkActive='active'>Ημερολόγιο διαθεσιμότητας και κρατήσεων</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/seat-booking" routerLinkActive='active'>Κράτηση θέσεων</a>
              </li>
              <li *appHasRole = '["Admin", "Moderator"]' class="nav-item">
                <a class="nav-link" routerLink="/ticket-management" routerLinkActive='active'>Διαχείριση Εισιτηρίων/Χώρων</a>
              </li>
              <li *appHasRole = '["Admin"]' class="nav-item">
                <a class="nav-link" routerLink="/admin-panel" routerLinkActive='active'>Διαχειριστής</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/entrance-register" routerLinkActive='active'>Καταγραφή Εισόδου</a>
              </li>
            </ng-container>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/errors" tabindex="-1" routerLinkActive='active'>Errors</a>
            </li> -->
          </ul>
          <div class="dropdown" *ngIf = "(accountService.currentUser | async) as user" dropdown>
            <a class="dropdown-toggle text-light ml-2" dropdownToggle> Έχετε συνδεθεί ως:  {{user.username|  titlecase}}  </a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item" routerLink = "/member/edit">Edit profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click) ="logout()">Logout</a>
            </div>
        </div>
          <button class="btn btn-success my-2 my-sm-0" (click) = "loginToggle()" *ngIf = "!(accountService.currentUser | async)">Σύνδεση Χρήστη</button>
        </div>  
  </nav>